
<div class="movieInfo" >
  <div ng-repeat="data in show.movie" class="IndMovie">
    <ul>
      <li><img ng-src="{{data.Poster}}" />
      <br>
      <br>
      <li><h2>{{ data.Title }}</h2></li>
      <li><h4>Actors/Actresses:</h4></li>
      <li>{{ data.Actors }}</li>
      <br>
      <li><h4>Plot:</h4></li>
      <li>{{ data.Plot }}</li>

      <h3>More Information:</h3>
      <li>{{ data.Title }}</li>
      <li>{{ data.Country }}</li>
      <li>{{ data.Director }}</li>
      <li>{{ data.Genre }}</li>
      <li>{{ data.Language }}</li>
      <li>{{ data.Metascore }}</li>
      <li>{{ data.Rated }}</li>
      <li>{{ data.Released }}</li>
      <li>{{ data.Runtime }}</li>
      <li>{{ data.Title }}</li>
      <li>{{ data.Writer }}</li>
      <li>{{ data.Year }}</li>
      <li>{{ data.imdbRating }}</li>
      <li>{{ data.imdbVotes }}</li>
    </ul>
  </div>
</div>
